.about {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    position: relative;
}

.about__container {
    height: 81em;
    width: 100%;
}

.about__inner__container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    float: left;
    position: relative;
}

.about__inner__container > div {
    height: 5em;
    width: 6em;
    margin: 0 auto;
    margin-top: 22%;
}

.about__inner__container > div h3 {
    font-size: 2em;
    color: #777;
}

.about__content {
    width: 70%;
    height: 100%;
    float: right;
}

.content__h2 {
    width: 70%;
    height: 43%;
    margin-top: 8%;
    position: relative;
}

.content__h2 h2 {
    font-size: 4em;
    color: #fff;  
}

.content__p {
    width: 70%;
    height: 40%;
    margin-bottom: 0;
}

.border__content {
    position: absolute;
    bottom: 0;
    width: 35%;
    height: 3.8em;
    border-top: 1px solid #888;
}

.content__p p {
    color: #fff;
    font-size: 2.2em;
}

.text__p {
    color: #fff;
    font-size: 3.3em;
}


  /* MEDIA QUERIES */

  @media (max-width: 1069px) {
.content__h2 {
    width: 100%;
}      
  }

  @media (max-width: 748px) {
.content__h2 {
    height: 50%;
}
.content__p {
    width: 100%;
}
}

@media (max-width: 667px) {
.about__container {
    height: 90em;
}
}


@media (max-width: 572px) {
    .content__h2 {
        height: 68%;
    }
    .content__p {
        width: 100%;
        left: 0;
        margin-left: 0;
        
    }
    
.about__inner__container {
    height: 50%;
}
    }

@media (max-width: 407px) {
    .about__inner__container {
        width: 100%;
        top: 0;
    }
    
    .content__h2 {
        height: 48%;
    }

    .content__h2 h2 {
        font-size: 3.5em;
    }
    
    .content__p p {
        font-size: 1.9em;
    }
    
.about__content {
    width: 100%;
    height: 100%;
    float: none;
    justify-content: space-between;
    position: absolute;
}

.content__h2 {
    width: 100%;
    margin-top: 15%;
    position: relative;
}

.text__span {
    padding-left: .4em;
}

.about__inner__container > div {
    height: 5em;
    width: 10em;
    margin: 0 auto;
    justify-content: space-around;
    top: 5%;
    position: absolute;
}
.text__line {
    display: none;
}
}