.about {
    height: auto;
    width: 100%;
  }
  .about .about__container {
    height: 78em;
    width: 100%;
    background-color: #111;
  }
  @media (max-width: 739px) {
    .about .about__container {
      position: relative;
    }
  }
  .about .about__container .about__wrap__left {
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  @media (max-width: 937px) {
    .about .about__container .about__wrap__left {
      width: 20%;
    }
  }
  @media (max-width: 739px) {
    .about .about__container .about__wrap__left {
      width: 100%;
      height: 10%;
      position: absolute;
      top: 0;
    }
  }
  .about .about__container .about__wrap__left .about__title {
    margin-top: 26%;
  }
  @media (max-width: 937px) {
    .about .about__container .about__wrap__left .about__title {
      margin-top: 46%;
    }
  }
  @media (max-width: 739px) {
    .about .about__container .about__wrap__left .about__title {
      margin-top: 4%;
    }
    .about .about__container .about__wrap__left .about__title .line__break {
      display: none;
    }
  }
  .about .about__container .about__wrap__left .about__title h3 {
    font-size: 2em;
    color: #777;
    position: relative;
  }
  .about .about__container .about__wrap__left .about__title h3 .fas {
    font-size: 0.72em;
    bottom: 0.4em;
    left: 2.4em;
    padding-left: 0.4em;
    position: absolute;
  }
  @media (max-width: 739px) {
    .about .about__container .about__wrap__left .about__title h3 .fas {
      display: none;
    }
  }
  .about .about__container .about__wrap__right {
    width: 70%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  @media (max-width: 937px) {
    .about .about__container .about__wrap__right {
      width: 80%;
    }
  }
  @media (max-width: 739px) {
    .about .about__container .about__wrap__right {
      width: 100%;
      height: 90%;
      position: absolute;
      bottom: 0;
    }
  }
  .about .about__container .about__wrap__right .about__content {
    width: 70%;
    height: 68%;
    margin-top: 10%;
    margin-right: auto;
    color: #fff;
    position: relative;
  }
  @media (max-width: 1205px) {
    .about .about__container .about__wrap__right .about__content {
      width: 80%;
    }
  }
  @media (max-width: 1054px) {
    .about .about__container .about__wrap__right .about__content {
      width: 90%;
    }
  }
  @media (max-width: 937px) {
    .about .about__container .about__wrap__right .about__content {
      width: 98%;
      margin-left: 2%;
    }
  }
  @media (max-width: 739px) {
    .about .about__container .about__wrap__right .about__content {
      margin-top: 0;
    }
  }
  .about .about__container .about__wrap__right .about__content .about__wrap {
    position: relative;
  }
  .about .about__container .about__wrap__right .about__content .about__wrap h2 {
    font-size: 4em;
  }
  @media (max-width: 430px) {
    .about .about__container .about__wrap__right .about__content .about__wrap h2 {
      font-size: 3em;
    }
  }
  .about .about__container .about__wrap__right .about__content .about__wrap .boder__wrap {
    width: 35%;
    height: 0.5px;
    background-color: #888;
    bottom: 0;
    position: absolute;
  }
  .about .about__container .about__wrap__right .about__content .about__p__wrap {
    position: absolute;
    bottom: 0;
  }
  @media (max-width: 739px) {
    .about .about__container .about__wrap__right .about__content .about__p__wrap {
      position: relative;
      margin-top: 4%;
    }

    .icon__container {
        display: none;
    }
    
    .p__content {
        padding-left: .5em;
    }
    
    .about__title {
        padding-top: 3%;
    }
  }
  .about .about__container .about__wrap__right .about__content .about__p__wrap p {
    font-size: 2.3em;
  }
  @media (max-width: 430px) {
    .about .about__container .about__wrap__right .about__content .about__p__wrap p {
      font-size: 1.8em;
    }
  }